BasedOnStyle: Mozilla
Language: JavaScript
# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
ColumnLimit: 120
# ConstructorInitializerAllOnOneLineOrOnePerLine: true
InsertBraces: true
JavaScriptQuotes: Single
# JavaScriptWrapImports: true
# PointerAlignment: Right

