local
verovio
gunicorn-log.conf 
app/static/CodeMirror
app/static/lib/env.js
app/static/npm/package-lock.json
app/static/npm/node_modules/**/*
!app/static/npm/node_modules/@inrupt
!app/static/npm/node_modules/@inrupt/solid-client-authn-browser
!app/static/npm/node_modules/@inrupt/solid-client-authn-browser/dist
!app/static/npm/node_modules/@inrupt/solid-client-authn-browser/dist/solid-client-authn.bundle.js
tests/node_modules
tests/package-lock.json
.DS_Store
.env
venv
*.swp
app/__pycache__
__pycache__
tmp
tests/node_modules
tests/package-lock.json
