.friendContainer {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column-reverse;
  /* Misc */
}

.notation {
  height: 50%;
  /* Misc */
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.resizer {
  cursor: row-resize;
  width: 100%;
  height: 6px;
}

.encoding {
  /* Take the remaining width */
  flex: 1;
  /* Misc */
  align-items: stretch;
  display: flex;
  justify-content: center;
}
