.friendContainer {
  display: flex;
  flex-direction: row-reverse;
}

.notation {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.resizer {
  cursor: ew-resize;
  height: 100%;
  width: 6px;
}

.encoding {
  /* Take the remaining width */
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
