.enrichmentToolsMenu {
  display: flex;
  padding-left: 0px;
  align-items: start;
  justify-items: stretch;
}

.enrichmentToolsMenu>div {
  padding: 5px 8px 0px 8px;
}

.enrichmentToolsMenu li {
  display: flex;
  list-style: none;
  padding: 10px;
  background-color:var(--annotationPanelBackgroundColor)
}

.annotationToolsIcon {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-content: center;
  gap: 6px;
  cursor: pointer;
}

.annotationToolsIconGroup { 
  border-radius: 5px;
  margin-bottom: 1em;
}

.annotationListItemButtons.icon {
  cursor:pointer;
}

#annotateIdentify.disabled, writeAnnotationStandoffLabel.disabled {
  opacity:.6;
  pointer-events: none;
}

.makeStandoffAnnotation svg.clockwise { 
  pointer-events:none;
  cursor:default;
}

fieldset { 
  border: 0px;
}

.annotationToolsDomainSelectionItem {
  display: flex;
}

.annotationHighlight {
  filter: drop-shadow(0px 0px 3em darkgreen);
}

.annotationDescribe {
  filter: drop-shadow(0px 0px 3em blue);
  cursor: help;
}

.annotationLink {
  filter: drop-shadow(0px 0px 3em purple);
  cursor: pointer;
}

.annotationIdentify { 
  filter: drop-shadow(0px 0px 3em red);
  cursor: pointer;
}

.markup-panel {
  display: flex;
  position: relative;
  flex-direction: column;
}

.markupGrp {
  display: inherit;
  flex-direction: column;
  gap: 3px;
}

.markupSetting {
  display: inline-grid;
  margin-bottom: 10px;
}

.markupSetting select {
  background-color: var(--annotationPanelLinkBackgroundColor);
  color: var(--annotationPanelTextColor);
  max-width: fit-content;
}

.markupSetting select option {
  background-color: var(--annotationPanelLinkBackgroundColor);
  color: var(--annotationPanelTextColor);
}

.markup-btn-group {
  border: 1px solid black;
  border-radius: 5px;
  /*padding: 10px;*/
  cursor: pointer; /* Pointer/hand icon */
  float: auto; /* Float the buttons side by side */
}

/*.btn-group:after {
  content: "";
  clear: both;
  display: table;
}*/

.markup-btn-group span:not(:last-child) {
 padding-right: 10px;
}

/* Add a background color on hover */
/*.markup-btn-group .markup-dropdown:hover {
  background-color: var(--annotationPanelHoverColor);
}*/

.alternativeEncodingsTag{
  border-right: 1px solid black;
}

.markup-dropdown {
  /*position: relative;*/
  display: inline-block;
  padding: 8px 6px;
}

.markup-dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--annotationPanelLinkBackgroundColor);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*.markup-dropdown-up {
  bottom: 50px;
}*/

.markup-dropdown-content a {
  color: var(--annotationPanelTextColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.markup-dropdown-content a:hover {background-color: var(--annotationPanelHoverColor)}

.markup-dropdown:hover .markup-dropdown-content {
  display: block;
}


#renderedAnnotationsContainer {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

#renderedAnnotationsContainer .highlightEllipse {
  fill: none;
  stroke: red;
  stroke-width: 3;
  stroke-opacity: .7;
}

#listAnnotations { 
  display:flex /*!important*/;
}

#listAnnotations details {
  padding: 10px;
  margin: 5px;
}

#listAnnotation details[open] summary {
  border-bottom: 1px solid black;
}

summary svg {
  padding-right: 1em;
}

summary.noDetails {
  list-style: none;
  cursor: default;
}

.annotationToolsDomainSelectionItem {
  border: 1px solid black;
  border-radius: 5px;
  width: 205px;
  margin: .25em;
  padding:0px !important;
}

.annotationListItem {
  border: 1px solid black;
  border-radius: 5px;
  height: fit-content;
  max-height: 205px; 
  width: 205px;
  margin: .25em;
  flex-shrink: 0;
}

.annotationListItem summary { 
  font-size:10pt;
  font-weight: normal !important;
}

.annotationListItemButtons {
  border-top: 1px solid black;
  padding: .25em .5em;
}

#addWebAnnotation {
  border: 1px solid black;
  border-radius: 5px;
  padding: .2em;
  margin: .25em;
  cursor: pointer;
  height: fit-content;
  max-width: 192px;
  padding: .25em .5em;
}

.annotationListItemButtons svg, #listAnnotations svg {
  width: 1em;
  height: 1em;
}

.mao-selection { 
  padding:2px;
  padding-left:5px;
}

.mao-extract {
  padding:2px;
}

.mao-musMat { 
  background-color: var(--annotationPanelLinkBackgroundColor); 
  padding: 2px;
  border-radius:10px;
}

#solid_logo {
  pointer-events: none;
}

#solidLogin { 
  margin-left: .5em;
}

#providerSelect { 
  display:block;
}

/* highlight markup menu buttons with corresponding colors */

.suppliedLabel {
  background-color: var(--suppliedColor);
}

.unclearLabel {
  background-color: var(--unclearColor);
}

.sicLabel {
  background-color: var(--sicColor);
}

.corrLabel {
  background-color: var(--corrColor);
}

.origLabel {
  background-color: var(--origColor);
}

.regLabel {
  background-color: var(--regColor);
}

.addLabel {
  background-color: var(--addColor);
}

.delLabel {
  background-color: var(--delColor);
}

.splitButtonContainer {
  /*display: inline-block;*/
}

.splitButtonLabel {
  padding: 8px;
  /*width: 50%;*/
}
