#annotationToolsMenu {
  display: flex;
  flex-direction: row;
}

#annotationToolsMenu li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding:10px;
}

.annotationToolsIcon {
  border: 1px solid black;
  padding:10px;
  display: flex;
  align-content: center;
  gap: 6px;
}

.annotationToolsDomainSelection {
  display: flex;
  flex-direction:column;
}

.annotationToolsDomainSelectionItem {
  display:flx;
  flex-direction:row;
}
