.dragContainer {
  display: flex;
  flex-direction: row;
}

#friendContainer {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column-reverse;
  /* Misc */
}

/* #notation {
  height: 50%;
} */

#dragMe.resizer {
  cursor: row-resize;
  height: 3px;
}

#dragMe.resizer svg {
  min-height: 16px;
  max-height: 16px;
}

#annotationToolsMenu {
  flex-direction: column;
}

#annotationToolsMenu li {
  flex-direction: column;
}

#annotationToolsDomainSelection {
  flex-direction: column;
}

.annotationToolsDomainSelectionItem {
  flex-direction: row;
}

#annotationToolTargetTypeSelector {
  flex-direction: column !important;
  width: fit-content;
}

#listAnnotations {
  flex-direction: column;
  overflow-y: auto;
}

#markupToolsMenu {
  flex-direction: column;
}