:root {
  /* DEFAULT COLORS */
  /* almost black */
  --defaultTextColor: #121212;
  /* almost white */
  --defaultBackgroundColor: #eeeeee;
  --defaultNotationColor: #121212;
  --defaultNotationBackgroundColor: #eeeeee;
  /* orange 45% darker */
  --defaultSuppliedColor: #e69500;
  --defaultSuppliedHighlightedColor: #b37400;
  /* TODO use mdw blue */
  --defaultHighlightColor: #4e8bed;
  --defaultNavbarBackgroundColor: lightgray;
  --defaultKeyboardShortCutColor: navy;
  --defaultDropdownHeadingColor: lightsteelblue;
  /* 10% brigher lightsteelblue */
  --defaultDropdownBackgroundColor: #edf2f7;
  --defaultDropdownBorderColor: darkgray;
  --defaultOverlayBackgroundColor: cornflowerblue;
  --defaultOverlayTextColor: white;
  --defaultOverlayBorderColor: darkblue;
  /* file status */
  --defaultFileStatusColor: green;
  /* file status changed */
  --defaultFileStatusChangedColor: darkorange;
  /* file status warn color */
  --defaultFileStatusWarnColor: crimson;
  --defaultSettingsBackgroundColor: #ddd;
  --defaultSettingsBackgroundAlternativeColor: #e4e4e4;
  --defaultSettingsLinkBackgroundColor: #f1f1f1;
  --defaultSettingsLinkHoverColor: #e6e6e6;
  /*
  * Color variables
  */
  --textColor: var(--defaultTextColor);
  --backgroundColor: var(--defaultBackgroundColor);
  --notationColor: var(--defaultTextColor);
  --notationBackgroundColor: var(--defaultBackgroundColor);
  --suppliedColor: var(--defaultSuppliedColor);
  --suppliedHighlightedColor: var(--defaultSuppliedHighlightedColor);
  --highlightColor: var(--defaultHighlightColor);
  --navbarBackgroundColor: var(--defaultNavbarBackgroundColor);
  --keyboardShortCutColor: var(--defaultKeyboardShortCutColor);
  --dropdownHeadingColor: var(--defaultDropdownHeadingColor);
  --dropdownBackgroundColor: var(--defaultDropdownBackgroundColor);
  --dropdownBorderColor: var(--defaultDropdownBorderColor);
  --overlayBackgroundColor: var(--defaultOverlayBackgroundColor);
  --overlayTextColor: var(--defaultOverlayTextColor);
  --overlayBorderColor: var(--defaultOverlayBorderColor);
  --fileStatusColor: var(--defaultFileStatusColor);
  --fileStatusChangedColor: var(--defaultFileStatusChangedColor);
  --fileStatusWarnColor: var(--defaultFileStatusWarnColor);
  --settingsBackgroundColor: var(--defaultSettingsBackgroundColor);
  --settingsBackgroundAlternativeColor: var(--defaultSettingsBackgroundAlternativeColor);
  --settingsLinkBackgroundColor: var(--defaultSettingsLinkBackgroundColor);
  --settingsLinkHoverColor: var(--defaultSettingsLinkHoverColor);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
}

a:link {
  text-decoration: none;
  color: var(--highlightColor);
}

a:visited {
  text-decoration: none;
  /* color: rgb(from var(--highlightColor) h s calc(l + 15%)); */
  color: var(--highlightColor);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.title {
  padding: 3px 20px 3px 10px;
  font-weight: bold;
  font-size: 18pt;
}

.title img {
  height: 1.6em;
}

.fillSpace {
  flex: auto;
}

.settingsButton {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-right: 16px;
  cursor: pointer;
}

.dragOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px;
  border: 5px solid var(--overlayBorderColor);
  border-radius: 32px;
  background-color: var(--overlayBackgroundColor);
  background-blend-mode: difference;
  opacity: .95;
  z-index: 200;
}

.dragOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28pt;
  color: var(--overlayTextColor);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.openUrlOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 190;
}

.openUrlOverlay .openUrlUI {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 5px solid var(--overlayBorderColor);
  border-radius: 32px;
  background-color: var(--overlayBackgroundColor);
  color: var(--overlayTextColor);
  z-index: 190;
}

.openUrlOverlay .openUrlUI>div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.openUrlOverlay .openUrlUI input {
  width: 70%;
}

.openUrlOverlay select { 
  text-align:left;
}

#openUrlStatus {
  font-size: 8pt;
  color: var(--fileStatusWarnColor);
  visibility: hidden;
}

#openUrlStatus.warn {
  visibility: visible;
}

#openUrlInput.warn {
  border: 1px solid var(--fileStatusWarnColor);
  background-color: var(--navbarBackgroundColor);
}

.forkRepositoryOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 190;
}

.forkRepositoryOverlay .forkRepositoryUI {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 5px solid var(--overlayBorderColor);
  border-radius: 32px;
  background-color: var(--overlayBackgroundColor);
  color: var(--overlayTextColor);
  z-index: 190;
}

.forkRepositoryOverlay .forkRepositoryUI>div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.forkRepositoryOverlay .forkRepositoryUI input {
  width: 30%;
}

#forkRepositoryStatus {
  font-size: 8pt;
  color: var(--fileStatusWarnColor);
  visibility: hidden;
}

#forkRepositoryStatus.warn {
  visibility: visible;
}

#forkRepositoryInput.warn {
  border: 1px solid var(--fileStatusWarnColor);
  background-color: mistyrose;
}

.friendContainer {
  border: 3px solid var(--dropdownHeadingColor);
  border-radius: 4px;
  width: 100%;
}

.notation {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.resizer {
  background-color: var(--dropdownHeadingColor);
}

.encoding {}

/* .CodeMirror {
    border: 1px solid #eee;
    height: auto;
  } */
.footer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 8pt;
  color: darkgray;
  width: 100%;
  height: 20px;
}

.leftfoot {
  padding: 3px 6px;
  min-width: 240px;
}

.middlefoot {
  /* background-color: Tomato; */
  min-width: 250px;
  min-height: 15px;
  width: 700px;
  padding: 0px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  margin: 2px;
  text-align: center;
  position: relative;
}

.statusbar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  /* corresponds to middlefoot margin */
  left: 0px;
  z-index: 10;
}

.progressbar {
  width: 0%;
  height: 100%;
  background-color: var(--dropdownBackgroundColor);
  opacity: .8;
  position: absolute;
  top: 0px;
  left: 0px;
}

.rightfoot {
  padding: 3px 6px;
  min-width: 330px;
  text-align: right;
  white-space: nowrap;
}

.control-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10pt;
  width: 100%;
  height: 28px;
  color: var(--textColor);
  padding: 1px;
  margin: 0px;
}

.controls {
  display: flex;
  align-items: center;
  min-height: 26px;
  border: 1px solid var(--dropdownBorderColor);
  border-radius: 7px;
  margin: 0px 3px;
  /* background-color: var(--navbarBackgroundColor); */
}

.btn {
  margin: 2px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  /* font-size: 10px; */
  line-height: 1.5em;
  padding: 0 2px;
  min-height: 21px;
  min-width: 21px;
  max-height: 21px;
  background-color: var(--backgroundColor);
}

.label {
  margin-top: 2px;
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  line-height: 1.5em;
  padding: 0 2px;
  min-height: 21px;
  min-width: 21px;
  white-space: nowrap;
}

#pagination2 {
  cursor: text;
}

.inline-block-tight {
  display: inline-block;
  vertical-align: middle;
}

.input-range {
  /* height: 4px; */
  /* border-radius: 3px; */
  /* background-color: var(--backgroundColor); */
}

.checkbox {
  margin-right: 4px;
}

#version-div {
  float: right;
}

/* TOOLTIPs
TODO: make tooltips appear depending on orientation...
https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  line-height: 1.1em;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 110;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext.visible {
  visibility: visible;
  opacity: 1;
}

.verovio-panel {
  /* padding: 1rem 2rem 3rem 1rem; */
  display: block;
  padding: 0px;
  overflow: scroll;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9;
  background-color: var(--notationBackgroundColor);
}

/* prevent text from being selectable in SVG */
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:  none;
}

.verovio-panel g.highlighted {
  fill: var(--highlightColor);
  color: var(--highlightColor);
  stroke: var(--highlightColor);
}

.verovio-panel g.supplied g {
  fill: var(--suppliedColor);
  color: var(--suppliedColor);
  stroke: var(--suppliedColor);
}

.verovio-panel g.supplied g.highlighted {
  fill: var(--suppliedHighlightedColor);
  color: var(--suppliedHighlightedColor);
  stroke: var(--suppliedHighlightedColor);
}

.verovio-panel g {
  fill: var(--notationColor);
  color: var(--notationColor);
  stroke: var(--notationColor);
}

.hidden {
  display: none;
}

.help-container {
  overflow-x: auto;
  overflow-y: auto;
  border: 3px solid var(--dropdownHeadingColor);
  border-radius: 4px;
  background-color: var(--dropdownBackgroundColor);
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
}

.text-info {
  max-width: 550px;
  /* margin: 10px; */
}

.help-container td {
  line-height: 1.5em;
}

.icons {
  min-width: 150px;
  /* max-width: 180px; */
}

.text-info table {
  min-width: 540px;
  max-width: 540px;
}

.help-container tr:nth-child(odd) {
  background: var(--settingsBackgroundAlternativeColor);
}

span.keyIcon {
  margin: 1px 2px;
  padding: 1px 5px;
  border-style: solid;
  border-color: DodgerBlue;
  border-width: 2px;
  border-radius: 3px;
}

/* Clear floats after the columns */
/* .help-container:after {
  content: "";
  display: table;
  clear: both;
} */
/* CodeMirror fold gutter css styles */
.CodeMirror-foldmarker {
  font-family: arial;
  cursor: pointer;
}

.CodeMirror-foldgutter {
  width: .7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #555;
  cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}

.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

/* Settings Panel */
#settingsPanel {
  position: absolute;
  top: 4px;
  min-width: 360px;
  height: 98%;
  z-index: 15;
  display: none;
}

.in {
  right: 0px;
  animation: moveInFromRight .4s;
  display: block;
}

.out {
  right: -360px;
  /* display: none; */
  animation: moveOutToRight .3s;
}

@keyframes moveInFromRight {
  from {
    opacity: .7;
    right: -360px;
  }

  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes moveOutToRight {
  from {
    opacity: 1;
    right: 0px;
  }

  to {
    opacity: .7;
    right: -360px;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  color: var(--textColor);
  background-color: var(--settingsLinkBackgroundColor);
  border-left: var(--settingsLinkBackgroundColor) solid 2px;
  border-top: var(--settingsLinkBackgroundColor) solid 2px;
  border-top-left-radius: 5px;
}

/* Style the buttons that are used to open the tab content */
.tablink {
  color: var(--textColor);
  font-size: 12pt;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 12px;
  transition: .2s;
  min-height: 38px;
  min-width: 46px;
}

.tabstart {
  color: var(--textColor);
  border: var(--settingsLinkBackgroundColor) solid 2px;
  border-top-left-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  float: left;
  outline: none;
  padding: 4px 12px;
  height: 38px;
}

/* Change background color of buttons on hover */
.tablink:hover, .topright:hover, .tabstart:hover {
  /* color: var(--textColor); */
  color: var(--textColor);
  background-color: var(--settingsLinkHoverColor);
  border-color: var(--settingsLinkHoverColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Create an active/current tablink class */
.tablink.active {
  /* color: var(--textColor); */
  color: var(--textColor);
  background-color: var(--settingsBackgroundColor);
  /* border: var(--settingsBackgroundColor) solid 2px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Style the tab content */
.tabcontent {
  color: var(--textColor);
  font-size: 10pt;
  display: none;
  padding: 6px 12px;
  background-color: var(--settingsBackgroundColor);
  border-left: var(--settingsBackgroundColor) solid 2px;
  border-bottom: var(--settingsBackgroundColor) solid 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 95%;
  overflow: auto;
}

.tabcontent summary {
  font-size: 12pt;
  font-weight: bold;
  padding: 9px 6px 6px 6px;
  cursor: pointer;
}

.tabcontent input[type="button"] {
  float: right;
  margin-top: 10px;
  margin-right: 2px;
}

/* Style the close button */
.topright {
  /* color: #808080; */
  float: right;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 22px;
}

.topright:hover {
  color: black;
}

.optionsItem {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  max-width: 330px;
  clear: both;
}

.optionsItem:nth-of-type(even) {
  background-color: var(--settingsBackgroundAlternativeColor);
}

/* Just for #editorSettings */
#editorSettings .optionsItem label {
  min-width: 160px;
  max-width: 220px;
}

#editorSettings .optionsItem select, #meiFriendSettings .optionsItem select {
  min-width: 80px;
  max-width: 150px;
}

/* For all options items  */
.optionsItem label {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  min-width: 220px;
  float: left;
}

.optionsItem input[type="number"] {
  font-size: 9.5pt;
  min-width: 55px;
  max-width: 55px;
}

.optionsItem select {
  font-size: 9.5pt;
  min-width: 55px;
  max-width: 85px;
}

.optionsItem input, select {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
  border-radius: 4px;
}

.optionsItem input[type='color'] {
  padding: 2px;
}

.resetButton {
  border-radius: 4px;
}

input, select {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

select>option {
  background-color: var(--dropdownBackgroundColor);
  color: var(--textColor);
}

.options-line {
  border: 1px solid var(--dropdownBorderColor);
  border-radius: 1px;
  margin: 8px 4px;
  width: 100%;
}
