:root {
  /* DEFAULT COLORS */
  /* almost black */
  --defaultTextColor: #121212;
  /* almost white */
  --defaultBackgroundColor: #eeeeee;
  --defaultNotationColor: #121212;
  --defaultNotationBackgroundColor: #eeeeee;
  /* orange 45% darker */
  --defaultSuppliedColor: #e69500;
  --defaultSuppliedHighlightedColor: #b37400;
  /* TODO use mdw blue */
  --defaultHighlightColor: #4e8bed;
  --defaultHighlightPulseColor: #0e4bad;
  --defaultControlMenuBackgroundColor: lightgray;
  --defaultNavbarBackgroundColor: lightgray;
  --defaultKeyboardShortCutColor: navy;
  --defaultDropdownHeadingColor: lightsteelblue;
  /* 10% brigher lightsteelblue */
  --defaultDropdownBackgroundColor: #edf2f7;
  --defaultValidationStatusBackgroundColor: #edf2f711;
  --defaultDropdownBorderColor: darkgray;
  --defaultOverlayBackgroundColor: cornflowerblue;
  --defaultOverlayTextColor: white;
  --defaultOverlayBorderColor: darkblue;
  --defaultOverlayLinkColor: darkblue;
  /* file status */
  --defaultFileStatusColor: green;
  /* file status changed */
  --defaultFileStatusChangedColor: darkorange;
  /* file status warn color */
  --defaultFileStatusWarnColor: crimson;
  --defaultSettingsBackgroundColor: #ddd;
  --defaultSettingsBackgroundAlternativeColor: #e4e4e4;
  --defaultSettingsLinkBackgroundColor: #f1f1f1;
  --defaultSettingsLinkHoverColor: #e6e6e6;
  /* annotation panel colors */
  --defaultAnnotationPanelBackgroundColor: #ffffa5;
  --defaultAnnotationPanelLinkBackgroundColor: #ffffdc;
  --defaultAnnotationPanelHoverColor: #fff300;
  --defaultAnnotationPanelTextColor: black;
  --defaultAnnotationPanelDarkBackgroundColor: #aa7c08;
  /*
  * Color variables
  */
  --textColor: var(--defaultTextColor);
  --backgroundColor: var(--defaultBackgroundColor);
  --notationColor: var(--defaultTextColor);
  --notationBackgroundColor: var(--defaultBackgroundColor);
  --suppliedColor: var(--defaultSuppliedColor);
  --suppliedHighlightedColor: var(--defaultSuppliedHighlightedColor);
  --highlightColor: var(--defaultHighlightColor);
  --highlightPulseColor: var(--defaultHighlightPulseColor);
  --controlMenuBackgroundColor: var(--defaultControlMenuBackgroundColor);
  --navbarBackgroundColor: var(--defaultNavbarBackgroundColor);
  --keyboardShortCutColor: var(--defaultKeyboardShortCutColor);
  --dropdownHeadingColor: var(--defaultDropdownHeadingColor);
  --dropdownBackgroundColor: var(--defaultDropdownBackgroundColor);
  --validationStatusBackgroundColor: var(--defaultValidationStatusBackgroundColor);
  --dropdownBorderColor: var(--defaultDropdownBorderColor);
  --overlayBackgroundColor: var(--defaultOverlayBackgroundColor);
  --overlayTextColor: var(--defaultOverlayTextColor);
  --overlayBorderColor: var(--defaultOverlayBorderColor);
  --overlayLinkColor: var(--defaultOverlayLinkColor);
  --fileStatusColor: var(--defaultFileStatusColor);
  --fileStatusChangedColor: var(--defaultFileStatusChangedColor);
  --fileStatusWarnColor: var(--defaultFileStatusWarnColor);
  --settingsBackgroundColor: var(--defaultSettingsBackgroundColor);
  --settingsBackgroundAlternativeColor: var(--defaultSettingsBackgroundAlternativeColor);
  --settingsLinkBackgroundColor: var(--defaultSettingsLinkBackgroundColor);
  --settingsLinkHoverColor: var(--defaultSettingsLinkHoverColor);
  --annotationPanelBackgroundColor: var(--defaultAnnotationPanelBackgroundColor);
  --annotationPanelLinkBackgroundColor: var(--defaultAnnotationPanelLinkBackgroundColor);
  --annotationPanelHoverColor: var(--defaultAnnotationPanelHoverColor);
  --annotationPanelTextColor: var(--defaultAnnotationPanelTextColor);
}

body.lang_ja,
#lang_ja_native {
  /* recommended font stack for Japanese, as per https://mhdigital.llc/web-typography-in-japanese/ */
  font-family: 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic',
    'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar',
    'Droid Sans Japanese', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
}

#GithubButton:disabled {
  display: none;
}

a:link {
  text-decoration: none;
  color: var(--highlightColor);
}

a:visited {
  text-decoration: none;
  /* color: rgb(from var(--highlightColor) h s calc(l + 15%)); */
  color: var(--highlightColor);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.title {
  padding: 3px 20px 3px 10px;
  font-weight: bold;
  font-size: 18pt;
}

.title img {
  height: 1.6em;
}

.fillSpace {
  flex: auto;
}

.settingsButton {
  width: 16px;
  height: 16px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  fill: var(--textColor);
}

#facsimileCloseButton {
  fill: var(--dropdownBorderColor);
}

.rightMargin {
  margin-right: 6px;
}

#focusIndicator {
  display: inline-block;
  position: fixed;
  padding-left: 10px;
  padding-top: 10px;
  transform: scale(50%, 50%);
  stroke: var(--fileStatusColor);
  z-index: 100;
}

.dragOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px;
  border: 5px solid var(--overlayBorderColor);
  border-radius: 32px;
  background-color: var(--overlayBackgroundColor);
  background-blend-mode: difference;
  opacity: 0.95;
  z-index: 200;
}

.dragOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28pt;
  color: var(--overlayTextColor);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.openUrlOverlay,
#githubActionsOverlay,
#solidOverlay,
#splashOverlay {
  flex-direction: row;
  justify-content: center;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7e3f4cc;
  z-index: 190;
}

#solidOverlay.active {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#solidLoadingIndicator:hover {
  text-decoration: underline;
}

#solidOverlayCancel span {
  font-family: monospace;
}

#solidLoadingIndicator {
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 200px;
  height: fit-content;
  z-index: 190;
  text-align: center;
}

#solidLoadingIndicator svg {
  width: 200px;
}

#githubActionsUI {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: fit-content !important;
}

.githubActionsInputConfig {
  display: flex;
  flex-direction: row;
  align-items: end;
  background-color: var(--navbarBackgroundColor);
  border-radius: 1em;
  width: 90%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.githubActionsInputConfig span {
  color: var(--textColor);
}

.githubActionsInputSetter {
  cursor: pointer;
}

.githubActionsInputSetter svg {
  fill: var(--textColor);
}

.githubActionsInputConfig div {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.githubActionsInputFieldWrapper {
  flex: 1;
}

.githubActionsInputField {
  width: 95%;
}

.dropdownContent a.disabled { 
  pointer-events:none; 
  cursor:not-allowed;
}

.openUrlOverlay a,
.forkRepositoryOverlay a {
  color: var(--overlayLinkColor);
}

.openUrlOverlay .openUrlUI,
.forkRepositoryOverlay .forkRepositoryUI,
#splash,
#githubActionsUI {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 5px solid var(--overlayBorderColor);
  border-radius: 32px;
  background-color: var(--overlayBackgroundColor);
  color: var(--overlayTextColor);
  z-index: 190;
}

#splash {
  padding: 1em 1em;
  max-width: 600px;
  min-width: 250px;
  max-height: 400px;
  left: unset;
}

#splashHeader {
  text-align: center;
  margin-bottom: 1em;
}

#splashHeader img {
  width: 95%;
  max-height: 500px;
}

#splashBody {
  padding: 0em 1em;
  height: 45%;
  overflow-y: auto;
  color: black;
  background-color: var(--overlayTextColor);
  border-radius: 10px;
}

/** start loading animation for splash screen text (not used for now) */
/* 
#splashBodyLoading { 
  position:relative;
  left: calc(50% - 1em);
  top: 50%;
}

#splashBodyLoading:after {
    content: '\00a0\00a0\00a0';
    animation: progress-ellipsis 0.8s infinite;
}

@keyframes progress-ellipsis {
    0% {
        content: '\00a0\00a0\00a0';
    }
    25% {
        content: '.\00a0\00a0';
    }
    50% {
        content: '..\00a0';
    }
    75% {
        content: '...';
    }
} 
*/
/** end loading animation for splash screen text **/

#splashFooter {
  font-size: small;
}

#splashVersion {
  margin: 1em 1em;
}

#splashVersionNumber a {
  color: var(--overlayLinkColor);
}

#splashAlwaysShowCtrl {
  float: right;
}

.openUrlOverlay .openUrlUI > div,
.forkRepositoryOverlay .forkRepositoryUI > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.openUrlOverlay .openUrlUI details,
.forkRepositoryOverlay .forkRepositoryUI details,
#githubActionsUI details,
#githubActionsUI button {
  cursor: pointer;
  margin-bottom: 1em;
}

#githubActionsUI details label {
  font-family: monospace;
  cursor: pointer;
}

.openUrlOverlay .openUrlUI details > div,
.forkRepositoryOverlay .forkRepositoryUI details > div {
  margin-left: 1em;
}

.openUrlOverlay .openUrlUI input {
  width: 70%;
}

.openUrlOverlay .openUrlUI details div div,
.forkRepositoryOverlay .forkRepositoryUI details div div {
  padding: 10px 15px;
}

.openUrlOverlay select,
.forkRepositoryOverlay select {
  text-align: left;
}

#openUrlStatus {
  font-size: 8pt;
  color: var(--fileStatusWarnColor);
  visibility: hidden;
}

#openUrlStatus.warn {
  visibility: visible;
}

#openUrlInput.warn {
  border: 1px solid var(--fileStatusWarnColor);
  background-color: var(--navbarBackgroundColor);
}

.forkAndOpenOverlay,
.forkRepositoryOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 190;
}

.forkRepositoryOverlay .forkRepositoryUI input {
  width: 30%;
}

.forkRepositoryStatus {
  font-size: 8pt;
  color: var(--fileStatusWarnColor);
  visibility: hidden;
}

.forkRepositoryStatus.warn {
  visibility: visible;
}

#forkRepositoryInput.warn {
  border: 1px solid var(--fileStatusWarnColor);
  background-color: mistyrose;
}

#forkRepoRequested {
  font-family: monospace;
  background: lightsteelblue;
  color: darkblue;
  width: fit-content;
  padding: 0.5em;
  border-radius: 10px;
}

#friendContainer {
  border-radius: 4px;
  width: 100%;
}

#friendContainer.pdfMode {
  /* border-color: #cb0606; */
  border-color: var(--dropdownBorderColor);
}

#notation {
  border: 3px solid var(--dropdownHeadingColor);
  overflow: hidden;
  display: flex;
  outline: none;
}

#notation:focus-within,
#encoding:focus-within {
  animation: showFocus 3s;
}

.resizer {
  background-color: var(--dropdownHeadingColor);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resizer svg {
  fill: var(--textColor);
}

#verovioContainer {
  height: 100%;
  width: 100%;
  overflow: inherit;
  display: flex;
  flex-direction: column;
}

#facsimile-panel {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
}

#facsimileMessagePanel {
  padding: 8px;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

#facsimile-panel svg {
  margin: 2px;
}

#facsimile-panel svg.full-page {
  border: solid;
  border-color: var(--dropdownBorderColor);
  border-width: 2px;
  border-radius: 4px;
}

#facsimile-panel div {
  margin-left: 5px;
  color: var(--dropdownBorderColor);
  fill: var(--dropdownBorderColor);
}

#facsimile-panel div div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

#source-image-label {
  justify-content: center;
}

#encoding {
  border: 3px solid var(--dropdownHeadingColor);
  display: flex;
  justify-content: left;
  flex-direction: column;
  position: relative;
}

#codeChecker {
  min-height: 14em;
  max-height: 14em;
  display: none;
  padding: 2px;
  overflow-x: auto;
  overflow-y: scroll;
  color: var(--textColor);
  background-color: var(--settingsBackgroundColor);
  border: 2px solid var(--settingsBackgroundAlternativeColor);
  border-radius: 4px;
  font-family: monospace;
}

.strikethrough {
  text-decoration: line-through;
}

#codeChecker div:nth-child(odd) {
  background: var(--settingsBackgroundAlternativeColor);
}

#codeChecker button {
  background-color: var(--backgroundColor) !important;
  border-color: var(--dropdownBorderColor) !important;
  padding-left: 2px;
  padding-right: 2px;
}

#codeChecker svg {
  width: 16px;
  height: 16px;
  stroke: darkgreen;
}

#validation-status {
  z-index: 5;
  position: absolute;
  width: 3.5em;
  margin-right: -3.5em;
  height: 1.2em;
  left: 3px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  font-size: 90%;
  /* background-color: var(--validationStatusBackgroundColor);
  border-radius: 4px;
  padding: 1px; */
}

#validation-status svg {
  height: 1.2em;
}

.validation-report {
  font-size: 95%;
  display: block;
  position: absolute;
  z-index: 12;
  left: 72px;
  top: 3px;
  width: 560px;
  margin-right: -560px;
  max-height: 10.5em;
  padding: 2px;
  overflow-x: auto;
  overflow-y: scroll;
  color: var(--textColor);
  background-color: var(--settingsBackgroundColor);
  border: 2px solid var(--settingsBackgroundAlternativeColor);
  border-radius: 4px;
  font-family: monospace;
  line-height: 1.4em;
}

.validation-report div:nth-child(odd) {
  background: var(--settingsBackgroundAlternativeColor);
}

.validation-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 1.5em;
}

.validation-item {
  cursor: pointer;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  line-height: 1.5em;
}

.wait {
  fill: darkorange;
  color: darkorange;
  border-color: darkorange;
}

.error {
  color: rgb(175, 51, 51);
  fill: rgb(175, 51, 51);
  border-color: rgb(175, 51, 51);
}

.ok {
  color: green;
  fill: green;
  border-color: green;
}

.manual {
  color: grey;
  fill: grey;
}

/* Overriding Codemirror Defaults */
.CodeMirror-lint-marker {
  width: 1.2em;
  height: 1.2em;
}

/* Marker Error: Empty circle with x inside */
.CodeMirror-lint-marker-error {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" viewBox="0 0 20 20"><circle fill="none" stroke="rgb(175, 51, 51)" stroke-width="1.75" stroke-miterlimit="22.9256" cx="8.001" cy="12" r="6.875"/><polygon fill="rgb(175, 51, 51)" stroke="rgb(175, 51, 51)" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.3662" points="5,14.386 7.386,11.999 5,9.613 5.613,8.999 8,11.386 10.387,8.999 11.001,9.613 8.614,11.999 11.001,14.386 10.387,15 8,12.613 5.613,15 "/></svg>');
}

/* Marker Multiple Errors: Three empty circles fading to the upper right */
.CodeMirror-lint-marker-multiple {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" viewBox="0 0 20 20"><path fill="none" stroke="rgb(175, 51, 51)" stroke-width="0.75" stroke-miterlimit="22.9256" d="M12.814 0.749c3.452,0 6.25,3.023 6.25,6.751 0,2.337 -1.1,4.398 -2.772,5.609 0.648,-1.049 1.022,-2.285 1.022,-3.608 0,-3.797 -3.078,-6.875 -6.875,-6.875 -0.807,0 -1.582,0.14 -2.302,0.395 1.146,-1.393 2.816,-2.272 4.677,-2.272z"/><path fill="none" stroke="rgb(175, 51, 51)" stroke-miterlimit="22.9256" d="M10.439 2.626c3.797,0 6.875,3.078 6.875,6.875 0,2.502 -1.337,4.692 -3.334,5.894 0.569,-1.002 0.896,-2.16 0.896,-3.395 0,-3.797 -3.078,-6.875 -6.875,-6.875 -1.295,0 -2.507,0.358 -3.541,0.981 1.183,-2.078 3.417,-3.48 5.979,-3.48z"/><circle fill="none" stroke="rgb(175, 51, 51)" stroke-width="1.75" stroke-miterlimit="22.9256" cx="8.001" cy="12" r="6.875"/><polygon fill="rgb(175, 51, 51)" stroke="rgb(175, 51, 51)" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.3662" points="5,14.386 7.386,11.999 5,9.613 5.613,8.999 8,11.386 10.387,8.999 11.001,9.613 8.614,11.999 11.001,14.386 10.387,15 8,12.613 5.613,15 "/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}

/* Message error: Filled circle with x inside */
.CodeMirror-lint-message-error {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" viewBox="0 0 20 16" height=".9em"><circle fill="rgb(175, 51, 51)" stroke="rgb(175, 51, 51)" stroke-width="1.75" stroke-miterlimit="22.9256" cx="8.001" cy="8" r="6.875"/><polygon fill="rgb(175, 51, 51)" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.3662" points="5,10.386 7.386,7.999 5,5.613 5.613,4.999 8,7.386 10.387,4.999 11.001,5.613 8.614,7.999 11.001,10.386 10.387,11 8,8.613 5.613,11 "/></svg>');
}

.CodeMirror-lint-marker {
  cursor: default;
}

/* Wavyline */
.CodeMirror-lint-mark-error {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 160 160" height="8px"><path fill="rgb(175, 51, 51)" fill-rule="nonzero" stroke="rgb(175, 51, 51)" stroke-width="8" stroke-miterlimit="22.9256" d="M159.627 148.658c-1.395,-1.022 -2.79,-2.155 -4.187,-3.4l0 -0.006c-11.915,-10.738 -22.754,-10.769 -32.517,-0.092l-3.765 -0.525 3.75 0.537c-3.83,4.035 -7.857,6.909 -12.08,8.621 -3.325,1.348 -6.866,2.037 -10.622,2.067 -3.733,0.03 -7.363,-0.597 -10.886,-1.879 -4.611,-1.679 -9.238,-4.587 -13.881,-8.723l0 -0.006c-11.914,-10.738 -22.754,-10.769 -32.516,-0.092l-3.399 -0.474 3.405 0.488c-3.83,4.035 -7.857,6.909 -12.08,8.621 -3.325,1.348 -6.866,2.037 -10.622,2.067 -3.733,0.03 -7.363,-0.597 -10.887,-1.88 -3.272,-1.191 -6.551,-3.001 -9.839,-5.43l0 -7.307c1.083,0.861 2.171,1.784 3.266,2.771l0.006 -0.001c4.193,3.737 8.196,6.299 12.005,7.685 1.957,0.713 3.722,1.063 5.292,1.05 1.549,-0.012 3.226,-0.384 5.029,-1.115 3.439,-1.395 6.878,-3.901 10.316,-7.521l-0.023 -0.003c14.292,-15.632 30.078,-15.664 47.354,-0.097l0.006 -0.001c4.194,3.737 8.196,6.299 12.005,7.686 1.957,0.712 3.722,1.062 5.293,1.05 1.548,-0.013 3.225,-0.384 5.028,-1.116 3.439,-1.394 6.879,-3.902 10.318,-7.522 13.424,-14.686 28.169,-15.601 44.231,-2.751l0 7.298z"/></svg>');
}

.CodeMirror-lint-message {
  padding-left: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}

#tagEncloserMenu {
  z-index: 10;
  border: 1px solid var(--dropdownBorderColor);
  border-radius: 4px;
  background-color: var(--dropdownBackgroundColor);
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  gap: 3px;
  padding: 5px;
  font-weight: bold;
}

#tagEncloserMenu input {
  width: 180px;
  font-weight: bold;
  border-radius: 4px;
}

#tagEncloserMenu input:focus {
  outline: none;
}

#tagEncloserMenu div {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.rightButton {
  /* only for validation report close button */
  float: right;
  cursor: pointer;
  font-size: 2em;
  padding-right: 0.01em;
  margin-top: -0.25em;
}

#annotationPanel {
  background: var(--annotationPanelBackgroundColor);
  border: 3px solid var(--annotationPanelBorderColor);
  border-radius: 4px;
  box-sizing: border-box;
  /* TODO: hack to fix size of #annotationPanel .tabcontent */
  overflow: hidden;
}

#annotationPanel .tab,
#annotationPanel .tablink,
#annotationPanel .tabstart {
  background-color: var(--annotationPanelLinkBackgroundColor);
  color: var(--annotationPanelTextColor);
  border: unset;
}

#annotationPanel .tablink.active,
#annotationPanel .tabcontent {
  background-color: var(--annotationPanelBackgroundColor);
  color: var(--annotationPanelTextColor);
  border: unset;
  overflow: auto;
}

#annotationPanel .tabcontent {
  border: unset;
}

#annotationPanel .tablink:hover,
#annotationPanel .tabstart:hover,
#annotationPanel .topright:hover {
  background-color: var(--annotationPanelHoverColor);
  color: var(--annotationPanelTextColor);
}

/* .CodeMirror {
    border: 1px solid #eee;
    height: auto;
  } */
.footer {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 8pt;
  color: darkgray;
  width: 100%;
  height: 20px;
}

.footer #midiPlayerContextual {
  position: fixed;
  bottom: 1.5em;
  left: 1em;
  z-index: 100;
  background: var(--dropdownBackgroundColor);
  fill: var(--textColor);
  border-radius: 100px;
  padding: 5px;
  opacity: 0.6;
  border: 1px solid var(--dropdownBorderColor);
  cursor: pointer;
}

.footer #midiPlayerContextual:hover {
  background: var(--backgroundColor);
}

.leftfoot {
  padding: 3px 6px;
  min-width: 250px;
}

.leftfoot #heart {
  fill: var(--highlightColor);
}

.middlefoot {
  /* background-color: Tomato; */
  min-width: 250px;
  min-height: 15px;
  width: 700px;
  padding: 0px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  margin: 2px;
  text-align: center;
  position: relative;
}

#statusBar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  /* corresponds to middlefoot margin */
  left: 0px;
  z-index: 10;
}

#progressBar {
  width: 0%;
  height: 100%;
  background-color: var(--dropdownBackgroundColor);
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
}

.rightfoot {
  padding: 3px 6px;
  min-width: 330px;
  text-align: right;
  white-space: nowrap;
}

.control-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10pt;
  height: 28px;
  padding: 2px;
  margin: 0px;
  z-index: 6;
  color: var(--textColor);
  background-color: var(--controlMenuBackgroundColor);
}

.controls {
  display: flex;
  align-items: center;
  min-height: 26px;
  border: 1px solid var(--dropdownBorderColor);
  border-radius: 7px;
  margin: 0px 3px;
}

.btn {
  margin: 2px;
  border: 2px solid rgb(0, 0, 0, 0);
  border-radius: 4px;
  font-size: 10pt;
  /* line-height: 1.5em; */
  padding: 0px;
  min-height: 21px;
  min-width: 21px;
  max-height: 21px;
  color: var(--textColor);
  background-color: var(--controlMenuBackgroundColor);
}

.narrowButton {
  width: 50px;
  max-width: 80px;
}

.btn:hover {
  background-color: var(--settingsLinkHoverColor);
}

.btn svg path {
  fill: var(--textColor);
}

.label {
  margin-top: 2px;
  margin-right: 3px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  line-height: 1.5em;
  padding: 0 2px;
  min-height: 21px;
  min-width: 21px;
  white-space: nowrap;
  cursor: default;
}

#pagination2 {
  cursor: text;
  border-style: dotted;
  border-width: 1px;
  border-radius: 4px;
}

#pagination2:empty {
  display: none;
}

.inline-block-tight {
  display: inline-block;
  vertical-align: middle;
}

/* .input-range {
   height: 4px;
   border-radius: 3px;
   background-color: var(--backgroundColor);
} */

.checkbox {
  margin-right: 4px;
}

#version-div {
  float: right;
}

/* TOOLTIPs
TODO: make tooltips appear depending on orientation...
https://www.w3schools.com/css/css_tooltip.asp
*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: relative;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  line-height: 1.1em;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 110;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext.visible {
  visibility: visible;
  opacity: 1;
}

#verovio-panel {
  /* padding: 1rem 2rem 3rem 1rem; */
  display: block;
  padding: 0px;
  overflow: scroll;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  background-color: var(--notationBackgroundColor);
}

.showFrame {
  border-color: var(--notationColor);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

/* prevent text from being selectable in SVG */
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#verovio-panel .currently-playing {
  fill: orange !important;
  color: orange !important;
}

@keyframes pulseHighlighted {
  0% {
    color: var(--textColor);
    fill: var(--textColor);
    stroke: var(--textColor);
  }

  20% {
    color: var(--highlightPulseColor);
    fill: var(--highlightPulseColor);
    stroke: var(--highlightPulseColor);
  }

  100% {
    color: var(--highlightColor);
    fill: var(--highlightColor);
    stroke: var(--highlightColor);
  }
}

#verovio-panel .highlighted,
#verovio-panel .highlighted g {
  color: var(--highlightColor);
  fill: var(--highlightColor);
  animation: pulseHighlighted 0.6s;
  animation-timing-function: ease;
}

#verovio-panel g.highlighted,
#verovio-panel text.highlighted {
  fill: var(--highlightColor);
  fill-opacity: 100%;
  animation: pulseHighlighted 0.6s;
  animation-timing-function: ease;
}

#facsimile-panel rect.highlighted {
  stroke: var(--highlightColor);
  stroke-opacity: 70%;
  fill: var(--highlightColor);
  fill-opacity: 15%;
  animation: pulseHighlighted 0.6s;
  animation-timing-function: ease;
}

#facsimile-panel text.highlighted {
  stroke: var(--highlightColor);
  stroke-opacity: 70%;
  fill: var(--highlightColor);
  fill-opacity: 70%;
  animation: pulseHighlighted 0.6s;
  animation-timing-function: ease;
}

#verovio-panel g.supplied g {
  fill: var(--suppliedColor);
  color: var(--suppliedColor);
}

#verovio-panel .supplied .highlighted {
  color: var(--suppliedHighlightedColor);
  fill: var(--suppliedHighlightedColor);
  animation: pulseHighlighted 0.6s;
  animation-timing-function: ease;
}

#verovio-panel g.supplied g.highlighted {
  fill: var(--suppliedHighlightedColor);
  animation: pulseHighlighted 0.6s;
  animation-timing-function: ease;
}

#verovio-panel {
  fill: var(--notationColor);
  color: var(--notationColor);
  stroke: var(--notationColor);
}

#verovio-panel svg.definition-scale {
  color: unset;
}

#facsimile-panel rect {
  stroke-opacity: 40%;
}

#facsimile-panel text {
  stroke-opacity: 40%;
  fill-opacity: 40%;
}

/* #sourceImageSvg text {
  fill: var(--dropdownHeadingColor);
  stroke: var(--dropdownHeadingColor);
  fill-opacity: 1;
} */

.hidden {
  display: none;
}

.help-container {
  overflow-x: auto;
  overflow-y: auto;
  border: 3px solid var(--dropdownHeadingColor);
  border-radius: 4px;
  background-color: var(--dropdownBackgroundColor);
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
}

.text-info {
  max-width: 550px;
  /* margin: 10px; */
}

.help-container td {
  line-height: 1.5em;
}

.icons {
  min-width: 150px;
  /* max-width: 180px; */
}

.icon {
  width: 20px;
  height: 20px;
  /* background-repeat: no-repeat;
  background-position: 50% 50%; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon[disabled] svg path,
.disabled {
  /* opacity: 30%; */
  fill: var(--settingsBackgroundColor);
}

#verovioIcon {
  margin-left: 3px;
  margin-right: 3px;
  width: 22px;
  height: 20px;
  fill: var(--textColor);
  stroke: var(--textColor);
  stroke-width: 1.5px;
}

#facsimileIcon,
#pdf-icon {
  margin-left: 3px;
  margin-right: 3px;
  width: 16px;
  fill: var(--textColor);
}

.pdfRed {
  color: #cb0606;
  fill: #cb0606;
  background-color: var(--backgroundColor);
}

.background {
  color: var(--backgroundColor);
}

.code {
  font-family: monospace;
}

.text-info table {
  min-width: 540px;
  max-width: 540px;
}

.help-container tr:nth-child(odd) {
  background: var(--settingsBackgroundAlternativeColor);
}

span.keyIcon {
  margin: 1px 1px;
  padding: 1px 3px;
  border-style: solid;
  border-color: DodgerBlue;
  border-width: 2px;
  border-radius: 3px;
  font-size: 85%;
}

/* Clear floats after the columns */
/* .help-container:after {
  content: "";
  display: table;
  clear: both;
} */
/* CodeMirror fold gutter css styles */
.CodeMirror-foldmarker {
  font-family: arial;
  cursor: pointer;
}

.CodeMirror-foldgutter {
  width: 0.7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #555;
  cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
  content: '\25BE';
}

.CodeMirror-foldgutter-folded:after {
  content: '\25B8';
}

.cm-trailingspace {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}

/* Settings Panel */
#settingsPanel {
  position: absolute;
  top: 4px;
  min-width: 360px;
  max-width: 360px;
  height: calc(100% - 20px);
  z-index: 15;
  display: none;
}

.in {
  right: 0px;
  animation: moveInFromRight 0.4s;
  display: block;
}

.out {
  right: -360px;
  /* display: none; */
  animation: moveOutToRight 0.3s;
}

@keyframes moveInFromRight {
  from {
    opacity: 0.7;
    right: -360px;
  }

  to {
    opacity: 1;
    right: 0px;
  }
}

@keyframes moveOutToRight {
  from {
    opacity: 1;
    right: 0px;
  }

  to {
    opacity: 0.7;
    right: -360px;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  color: var(--textColor);
  background-color: var(--settingsLinkBackgroundColor);
  border-left: var(--settingsLinkBackgroundColor) solid 2px;
  border-top: var(--settingsLinkBackgroundColor) solid 2px;
  border-top-left-radius: 5px;
}

/* Style the buttons that are used to open the tab content */
.tablink {
  color: var(--textColor);
  font-size: 12pt;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 12px;
  transition: 0.2s;
  min-height: 38px;
  min-width: 46px;
}

.tabstart {
  fill: var(--textColor);
  border: rgba(0, 0, 0, 0) solid 2px;
  border-top-left-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  float: left;
  outline: none;
  padding: 4px 6px;
  height: 38px;
}

/* Change background color of buttons on hover */
.tablink:hover,
.topright:hover,
.tabstart:hover {
  color: var(--textColor);
  background-color: var(--settingsLinkHoverColor);
  border-color: var(--settingsLinkHoverColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Create an active/current tablink class */
.tablink.active {
  /* color: var(--textColor); */
  color: var(--textColor);
  background-color: var(--settingsBackgroundColor);
  /* border: var(--settingsBackgroundColor) solid 2px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Style the tab content */
#settingsTabContentWrapper {
  background-color: var(--settingsBackgroundColor);
  border-left: var(--settingsBackgroundColor) solid 2px;
  border-bottom: var(--settingsBackgroundColor) solid 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: calc(100% - 50px);
  overflow: auto;
}

#settingsTabContentWrapper #filterSettingsWrapper {
  display: inline-block;
  width: calc(100% - 1em);
  margin-bottom: -1.6em;
  height: 2em;
}

.tabcontent {
  color: var(--textColor);
  font-size: 10pt;
  display: none;
  padding: 6px 12px;
  height: calc(100% - 50px);
  width: calc(100% - 2em);
}

.tabcontent summary {
  font-size: 12pt;
  font-weight: bold;
  padding: 9px 6px 6px 6px;
  cursor: pointer;
}

/* Style the close button */
.topright {
  color: var(--textcolor);
  float: right;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 22px;
}

.settingsHeader {
  font-weight: bold;
  font-size: 150%;
  margin: 0px;
  margin-bottom: 6pt;
}

.optionsSubHeading {
  font-weight: bold;
  font-size: 110%;
  margin: 3px;
}

.optionsItem {
  font-size: 100%;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  max-width: 330px;
  clear: both;
}

.optionsItem.odd {
  background-color: var(--settingsBackgroundAlternativeColor);
}

/* Just for #editorSettings */
#editorSettings .optionsItem label {
  min-width: 160px;
  max-width: 220px;
}

#editorSettings .optionsItem select,
#meiFriendSettings .optionsItem select {
  min-width: 80px;
  max-width: 150px;
}

/* For all options items  */
.optionsItem label {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  min-width: 175px;
  float: left;
}

.optionsItem input[type='number'] {
  font-size: 9.5pt;
  min-width: 55px;
  max-width: 55px;
}

.optionsItem select {
  font-size: 9.5pt;
  min-width: 55px;
  max-width: 85px;
}

.optionsItem input,
select {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
  border-radius: 4px;
}

.optionsItem input[type='color'] {
  padding: 2px;
}

.disabled {
  opacity: 50%;
}

.resetButton {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2px;
  border-radius: 4px;
  max-width: 60px;
}

input,
select {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  text-align: left;
}

select > option {
  background-color: var(--dropdownBackgroundColor);
  color: var(--textColor);
}

.options-line {
  border: 1px solid var(--dropdownBorderColor);
  border-radius: 1px;
  margin: 8px 4px;
  width: 96%;
}

#bugReport {
  font-size: 1.5em;
  padding: 20px;
}

#alertOverlay a {
  color: white;
}

/* The alert message box */
.alert {
  position: fixed;
  top: 80px;
  left: 10%;
  width: 80%;
  max-height: 70%;
  justify-content: space-between;
  gap: 0.5em;
  padding: 20px;
  background-color: #f44336;
  /* border-style: solid;
  border-width: 2px; */
  border-radius: 8px;
  color: white;
  z-index: 20;
  overflow-y: auto;
}

.alert.success {
  background-color: #04aa6d;
}

.alert.info {
  background-color: #2196f3;
}

.alert.warning {
  background-color: #ff9800;
}

#alertIcon svg {
  width: 2.2em;
  height: 2.2em;
  fill: white;
}

/* The close button */
.alertCloseButton {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.alertCloseButton:hover {
  color: black;
}

#promptContent {
  margin: auto;
  text-align: center;
}

#promptButtons {
  display: none;
  text-align: center;
  padding-top: 2.2em;
}

.promptButton {
  margin: 0.5em;
}

#filterSettings {
  width: 33%;
  height: 1.5em;
  border: 1px solid var(--dropdownBorderColor);
  outline: 0;
  border-radius: 4px;
  float: right;
  margin-top: 1em;
  margin-bottom: -3em;
}

#filterSettingsWrapper {
  color: var(--textColor);
}

#filterReset {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline;
  cursor: pointer;
  float: right;
  margin-top: 0.96em;
  padding-right: 2px;
  fill: var(--dropdownHeadingColor);
}

#filterReset svg {
  width: 14px;
  height: 14px;
}

#midiPlaybackControlBar {
  border-bottom: 3px solid var(--dropdownHeadingColor);
  border-left: 3px solid var(--dropdownHeadingColor);
  border-right: 3px solid var(--dropdownHeadingColor);
  background: var(--controlMenuBackgroundColor);
  color: var(--textColor);
  height: 30px;
  display: none;
  align-items: baseline;
  gap: 0.5em;
}

midi-player::part(control-panel) {
  background: var(--controlMenuBackgroundColor);
  /*border: 1px solid var(--dropdownBorderColor);
  border-radius:7px;*/
  font-size: 10pt;
  width: 100%;
}

midi-player::part(play-button) {
  background: var(--controlMenuBackgroundColor);
  color: var(--textColor);
}

#midiPlaybackControlBar midi-player {
  height: 90%;
  width: 500px;
  max-width: 70%;
}

#midiSpeedmodeIndicator {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6pt;
  font-weight: bold;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--textColor);
  padding: 2px;
  max-height: calc(1em + 2px);
  cursor: default;
  color: var(--textColor);
}

#closeMidiPlaybackControlBarButton {
  color: var(--textColor);
  padding: 2px 8px;
  cursor: pointer;
  position: fixed;
  right: 0.2em;
  bottom: 1.5em;
  font-size: 14pt;
  border-radius: 100px;
}

#closeMidiPlaybackControlBarButton:hover {
  background-color: var(--settingsLinkHoverColor);
}

@keyframes showFocus {
  0% {
    border-color: #0d0;
  }

  10% {
    border-color: #0c0;
  }

  20% {
    border-color: #0b0;
  }

  30% {
    border-color: #0a0;
  }

  40% {
    border-color: #090;
  }

  100% {
    border-color: var(--dropdownHeadingColor);
  }
}
