#notation {
  flex-direction: row;
}

#facsimile-dragger.resizer {
  cursor: col-resize;
  width: 8px;
  height: 100%;
}

#facsimile-dragger.resizer svg {
  min-width: 16px;
  transform: rotate(90deg);
}