/* Navbar container */
.navbar {
  float: left;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 4px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: darkgray;
  text-align: center;
  padding: 3px 12px;
  text-decoration: none;
}

.keyShortCut {
  color: navy;
  font-weight: bold;
  /* border: 1px solid darkblue;
  border-radius: 2px; */
  float: right;
  margin-left: 5px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 3px 12px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightsteelblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #edf2f7; // lightsteelblue 90%: #dbe4f0 // 95%: #edf2f7
  opacity: .99;
  min-width: 160px;
  border: 1px solid darkgray;
  border-radius: 4px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 90%;
  z-index: 99;
}

#GithubMenu {
  min-height:90%;
}

.dropdown-line {
  background-color: darkgray;
  border: 1px solid darkgray;
  border-radius: 1px;
  margin: 4px 10px;
}

.dropdown-head {
  background-color: #dbe4f0; // lightsteelblue 90%
  font-weight:  900;
}

/* Links inside the dropdown */
.dropdown-content a {
  cursor: pointer;
  float: none;
  color: black;
  padding: 3px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#GithubLoginLink { 
  float: unset;
  color: unset;
  text-align: unset;
  padding: unset;
}

.dropdown-content input, .dropdown-content table {
  margin: 3px 12px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content.show {
  display: block;
}

#logTable {
  font-size: smaller
}

#logTable a {
  font-size: unset;
}

#logTable tr:nth-child(even) {
  background-color: #dbe4f0;
}

#GithubLogo {
  height: .8em;
  margin-right: .2em;
}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(359deg) }
}

.loading {
  animation-name: spinning;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.menu-icon {
  width: 16px;
  margin-right: 10px;
  margin-left: 26px;
}

.wide-menu-icon {
  width: 48px;
  margin-right: 4px;
  margin-left: 0px;
}

.fileStatus {
  font-size: smaller;
  font-family: monospace;
  margin-left: 1em;
  padding: 3px 12px;
  background: white;
  color: green;
  white-space: nowrap;
}

.fileStatus #fileName{
  white-space: pre;
}

.fileStatus #fileChanged {
  margin-left: -1em;
}

.fileStatus.warn { 
  color: red;
}

#openUrlInput.warn { 
  border: 1px solid red;
  background-color: mistyrose;
}

#openUrlStatus { 
  color:red;
}
