/* Navbar container */
.navbar {
  float: left;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 4px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: darkgray;
  text-align: center;
  padding: 3px 12px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 3px 12px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.label {
  margin: 0px 3px;
  display: inline;
  white-space: nowrap;
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightsteelblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightsteelblue;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  overflow-y:auto;
  max-height:90%;
  z-index: 99;
}

.dropdown-line {
  background-color: darkgray;
  border: 1px solid darkgray;
  border-radius: 1px;
  margin: 4px 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  cursor: pointer;
  float: none;
  color: black;
  padding: 3px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content.show{
  display: block;
}

#logTable {
  font-size:smaller
}
#logTable a {
  font-size:unset;
}

#logTable tr:nth-child(even) {
  background-color: steelblue;
}

#GithubLogo { 
  height: .8em;
  margin-right: .2em;
}
