.dragContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#friendContainer {
  display: flex;
  flex-direction: row-reverse;
}

#notation {
  width: 50%;
  /* align-items: center; */
  /* display: flex;
  justify-content: center; */
}

.resizer {
  cursor: col-resize;
  height: 100%;
  width: 8px;
}

#encoding {
  /* Take the remaining width */
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

#annotationToolsMenu {
  flex-direction: row;
}

#annotationToolsMenu li {
  flex-direction: column;
}

.annotationToolsDomainSelection {
  flex-direction: column;
}

.annotationToolsDomainSelectionItem {
  flex-direction: row;
}