.dragContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#friendContainer {
  display: flex;
  flex-direction: row-reverse;
}

#notation {
  width: 50%;
}

#dragMe.resizer {
  cursor: col-resize;
  width: 3px;
}

#dragMe.resizer svg {
  min-width: 16px;
  transform: rotate(90deg);
}

#annotationToolsMenu {
  flex-direction: row;
}

#annotationToolsMenu li {
  flex-direction: column;
}

#annotationToolsDomainSelection {
  flex-direction: column;
}

.annotationToolsDomainSelectionItem {
  flex-direction: row;
}
