.dragContainer {
  display: flex;
  flex-direction: row;
}

#friendContainer {
  display: flex;
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0%;
  flex-direction: column;
}

/* #notation {
  height: 50%;
} */

#dragMe.resizer {
  cursor: row-resize;
  width: 100%;
  height: 8px;
}

#dragMe.resizer svg {
  min-height: 16px;
  max-height: 16px;
}

#encoding {
  /* Take the remaining width */
  flex: 1;
  /* Misc */
  align-items: stretch;
  display: flex;
  justify-content: left;
}

#annotationToolsMenu {
  flex-direction: column;
}

#annotationToolsMenu li {
  flex-direction: column;
}

.annotationToolsDomainSelection {
  flex-direction: column;
}

.annotationToolsDomainSelectionItem {
  flex-direction: row;
}

#listAnnotations {
  flex-direction: column;
  overflow-y: auto;
}

#addWebAnnotation {
  width: fit-content;
}