<html>

<head>
  <meta charset="utf-8">
  <title>Help mei-friend online</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
</head>

<body>

  <script>
    let shiftKey = "&#8679;"; // SHIFT
    let altKey = "&#8997;"; // ALT
    let cmdKey = "&#8963;"; // CTRL
    let cmd2Key = "&#8997;"; // ALT
    if (navigator.platform.startsWith('Mac')) {
      cmdKey = "&#8984;"; // CMD
      cmd2Key = "&#8963;"; // CTRL
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll(".cmdKey").forEach(e => e.innerHTML = cmdKey);
      document.querySelectorAll(".cmd2Key").forEach(e => e.innerHTML = cmd2Key);
      document.querySelectorAll(".shiftKey").forEach(e => e.innerHTML = shiftKey);
      document.querySelectorAll(".altKey").forEach(e => e.innerHTML = altKey);
    });
  </script>

  <div class="header">
    <div class="title">Keyboard shortcuts for mei-friend</div>
  </div>

  <div class="help-container">

    <!-- <div class="column"> -->

    <div class='text-info'>
      <table>
        <h3 class='text-highlight'>Navigating through notation</h3>
        <tr>
          <td class="icons" ><span class="keyIcon">&rarr;</span></td>
          <td class="explanation" >Select next note, rest, or mRest</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">&larr;</span></td>
          <td class="explanation" >Select previous note, rest, or mRest</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">&uarr;</span></td>
          <td class="explanation" >Select note, rest, or mRest one layer up</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">&darr;</span></td>
          <td class="explanation" >Select note, rest, or mRest one layer down</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">&rarr;</span></td>
          <td class="explanation" >Select note, rest, mRest in next measure</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">&larr;</span></td>
          <td class="explanation" >Selected note, rest, mRest in previous measure </td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon cmd2Key"></span><span class="keyIcon">&rarr;</span></td>
          <td class="explanation" >Go to next page (or <span class="keyIcon">&#8671;</span>
            or <span class="keyIcon">SPACE</span>)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon cmd2Key"></span><span class="keyIcon">&larr;</span></td>
          <td class="explanation" >Go to previous page (or <span class="keyIcon">&#8670;</span>
            or <span class="keyIcon shiftKey"></span><span class="keyIcon">SPACE</span>)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">&uarr;</span></td>
          <td>Go to first page (or <span class="keyIcon">END</span>)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">&darr;</span></td>
          <td class="explanation">Go to last page (or <span class="keyIcon">HOME</span>)</td>
        </tr>
      </table>
      <table>
        <h3 class='text-highlight'>Zooming/Display</h3>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">+</span>, <span class="keyIcon cmdKey"></span><span class="keyIcon">–</span></td>
          <td class="explanation" >Zoom notation in/out (or <span class="keyIcon cmdKey"></span><span class="keyIcon">Mouse wheel</span>)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">0</span>, <span class="keyIcon cmdKey"></span><span class="keyIcon">5</span></td>
          <td class="explanation" >Zoom to 100%, 50%, respectively</td>
        </tr>
      </table>
      <table>
        <h3 class='text-highlight'>Selecting elements</h3>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon">click</span></td>
          <td class="explanation" >Select multiple notes by mouse click</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon altKey"></span><span class="keyIcon">click</span></td>
          <td class="explanation" >Select the chord when clicking onto a note</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <table>
        <h3 class='text-highlight'>Manipulating elements</h3>
        <tr>
          <td class="icons" ><span class="keyIcon">X</span></td>
          <td class="explanation" >Invert att.placement (dir, dynam, trill, tuplet number, ...),
            att.curvature (slur, tie, ...), att.stems (note, chord)
            from above to below or below to above for selected element</td>
        </tr>
        <!--
<tr>
  <td><span class="keyIcon">&#8663;</span><span class="keyIcon">X</span></td>
  <td>Set att.placement (dir, dynam, trill, ...) to @place="between"
  and select staff below or above automatically</td>
</tr>
          -->
          <tr>
            <td class="icons" ><span class="keyIcon">V</span></td>
            <td class="explanation" >Insert vertical group (@vgrp) attribute to selected elements</td>
          </tr>
      </table>
    </div>

    <div class='text-info'>
      <table>
        <h3 class='text-highlight'>Moving elements</h3>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">&uarr;</span></td>
          <td class="explanation" >Move note, rest, mRest, multiRest one tone upwards </td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">&darr;</span></td>
          <td class="explanation" >Move note, rest, mRest, multiRest one tone downwards</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">&uarr;</span></td>
          <td class="explanation" >Move note, rest, mRest, multiRest one octave upwards </td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">&darr;</span></td>
          <td class="explanation" >Move note, rest, mRest, multiRest one octave downwards</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon altKey"></span><span class="keyIcon cmdKey"></span><span class="keyIcon">&uarr;</span></td>
          <td class="explanation" >Move note, rest, mRest, multiRest one staff downwards </td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon altKey"></span><span class="keyIcon cmdKey"></span><span class="keyIcon">&darr;</span></td>
          <td class="explanation" >Move note, rest, mRest, multiRest one staff upwards</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <h3 class="text-highlight">Deleting elements</h3>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon">BACKSPACE</span> or <span class="keyIcon">DELETE</span></td>
          <td class="explanation" >Delete control elements, clef change, accid, artic, beam</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <h3 class="text-highlight">MEI encoding manipulation</h3>
      <table>
        <tr>Renumber measures (counts successive measures with @metcon="false" as one, counts multiple endings with same numbering)
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">R</span></td>
          <td class="explanation" >Test renumbering (output to console)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">R</span></td>
          <td class="explanation" >Execute renumbering</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">C</span></td>
          <td class="explanation" >Remove @accid.ges when @accid is present </td>
        </tr>
      </table>
    </div>
    <!-- </div>

    <div class="column"> -->
    <div class='text-info'>
      <h3 class="text-highlight">Inserting elements</h3>
      <p>Key bindings insert elements above selected note by default and below when pressing
        the <span class="keyIcon">CTRL&nbsp;&#8963;</span> key additionally.
        The elements are inserted using @startid and @endid attributes.
        <!--To insert elements with @tstamp and @tstamp2 attributes,
        use the <span class="keyIcon">ALT &#8997;</span> key additionally.-->
      </p>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">T</span></td>
          <td class="explanation" >Insert tempo above selected note(s)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">I</span></td>
          <td class="explanation" >Insert directive above selected note(s)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">D</span></td>
          <td class="explanation" >Insert dynamics above selected note, with extender if two notes selected</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon">S</span></td>
          <td class="explanation" >Insert <strong>slur</strong> starting/ending on selected notes</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">T</span></td>
          <td class="explanation" >Insert tie starting/ending on selected notes</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">H</span></td>
          <td class="explanation" >Insert crescendo hairpin starting/ending above selected notes</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">H</span></td>
          <td class="explanation" >Insert diminuendo hairpin starting/ending above selected notes</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">B</span></td>
          <td class="explanation" >Insert beam on selected notes/chords sharing identical parent</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">U</span></td>
          <td class="explanation" >Surround selected elements with a supplied element; responsibility attribute to be selected in settings</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon">A</span></td>
          <td class="explanation" >Insert arpeggio for selected note(s)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">F</span></td>
          <td class="explanation" >Insert fermata above selected note</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">G</span></td>
          <td class="explanation" >Insert glissando starting at first, ending at last selected note</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">P</span></td>
          <td class="explanation" >Insert pedal down for selected note(s)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">&#8963;</span><span class="keyIcon">P</span></td>
          <td class="explanation" >Insert pedal up for selected note(s)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">L</span></td>
          <td class="explanation" >Insert trill to selected note(s)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">N</span></td>
          <td class="explanation" >Insert turn to selected note(s) (with SHIFT: lower form)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon">M</span></td>
          <td class="explanation" >Insert mordent to selected note(s) (with SHIFT: upper form)</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon">O</span></td>
          <td class="explanation" >Insert octave shift above (8va), spanning two selected notes/chords (below with CTRL)</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon altKey"></span><span class="keyIcon">O</span></td>
          <td class="explanation" >Insert octave shift above (15va), spanning two selected notes/chords (below with CTRL)</td>
        </tr>
      </table>
    </div>

    <div class='text-info'>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">G</span></td>
          <td class="explanation" >Insert G clef <i>before</i> selected element</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">G</span></td>
          <td class="explanation" >Insert G clef <i>after</i> selected element</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">F</span></td>
          <td class="explanation" >Insert F clef <i>before</i> selected element</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">F</span></td>
          <td class="explanation" >Insert F clef <i>after</i> selected element</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">C</span></td>
          <td class="explanation" >Insert C clef <i>before</i> selected element</td>
        </tr>
        <!--
          <tr>
            <td><span class="keyIcon cmdKey"></span><span class="keyIcon shiftKey"></span><span class="keyIcon">G</span></td>
            <td>Insert G clef <i>after</i> selected element</td>
          </tr>
-->
      </table>
    </div>

    <div class='text-info'>
      <h3 class="text-highlight">Toggle articulation</h3>
      <table>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">S</span></td>
          <td class="explanation" >Toggle staccato on note/chord</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">V</span></td>
          <td class="explanation" >Toggle accent on note/chord</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">N</span></td>
          <td class="explanation" >Toggle tenuto on note/chord</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">O</span></td>
          <td class="explanation" >Toggle marcato on note/chord</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">I</span></td>
          <td class="explanation" >Toggle staccatissimo on note/chord</td>
        </tr>
        <tr>
          <td class="icons" ><span class="keyIcon shiftKey"></span><span class="keyIcon">P</span></td>
          <td class="explanation" >Toggle spiccato on note/chord</td>
        </tr>
      </table>
    </div>

  </div>

</body>

</html>
