<html>
<head>
  <meta charset="utf-8">
  <title>mei-friend online</title>
  <link rel="icon" href="https://www.mdw.ac.at/favicon.ico" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}" />
  <link rel="stylesheet" id="orientationCSS" href="{{ url_for('static', filename='css/bottom.css') }}" />
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js" integrity="sha512-4DlmQ+aBOfYTZ3uzRKCDXdyL7y8IlopnVChhXG0pRFgyvhwONVQW3JX8e5DYoXUNr3evQpLZz7S3O1XxMH4WKA==" crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script> -->
  <!-- inject GitHub OAuth response details if available -->
    <script src="{{ url_for('static', filename='lib/jsgit.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/github.js') }}" type="module"></script>
    <script>let isLoggedIn; </script>
  {% if isLoggedIn %}
    <script>
      isLoggedIn = true;
      const githubToken = "{{ githubToken }}";
      const userLogin = "{{ userLogin }}";
      const userName = "{{ userName }}";
      const userEmail = "{{ userEmail }}";
    </script>
  {% endif %}
  <script src="{{ url_for('static', filename='CodeMirror/lib/codemirror.js') }}"></script>
  <link href="{{ url_for('static', filename='CodeMirror/lib/codemirror.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='CodeMirror/mode/xml/xml.js') }}"></script>
  <link href="{{ url_for('static', filename='CodeMirror/theme/dracula.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/closetag.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/closebrackets.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/matchtags.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/trailingspace.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/fold/xml-fold.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/fold/foldcode.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/fold/foldgutter.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/search/searchcursor.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/hint/show-hint.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/hint/xml-hint.js') }}"></script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.13.1/jshint.min.js" integrity="sha512-d54ZkbDqP0rlo/mmCO9nJ5tfpigsfTUPztnGEloitkJh5p2Bu4UsY8KMvAqUILBdTKGE7T6YMOuF0yXuNlpq/A==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  -->
  <script type="module" src="{{ url_for('static', filename='lib/main.js') }}"></script>
</head>

<body>
  <div class="header">
    <div class="title">mei-friend online</div>
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn" onclick="showDropDown('FileMenu')">File</button>
        <div class="dropdown-content" id="FileMenu">
          <a id="OpenMei" href="#">Open MEI</a>
          <a id="ImportMusicXml" href="#">Import MusicXML</a>
          <a id="ImportHumdrum" href="#">Import Humdrum</a>
          <a id="ImportPae" href="#">Import PAE, ABC</a>
          <hr class="dropdown-line">
          <a id="SaveMei" href="#">Save MEI</a>
          <a id="SavePdf" href="#">Save PDF</a>
          <a id="SaveMidi" href="#">Save MIDI</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" onclick="showDropDown('ViewMenu')">View</button>
        <div class="dropdown-content" id="ViewMenu">
          <a id="top" href="#">Notation top</a>
          <a id="bottom" href="#">Notation bottom</a>
          <a id="left" href="#">Notation left</a>
          <a id="right" href="#">Notation right</a>
          <hr class="dropdown-line">
          <a id="rockbar" href="#">Move status bar</a>
          <a id="DoThis" href="#">Do this</a>
          <a id="DoThat" href="#">Do that</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" onclick="showDropDown('HelpMenu')">Help</button>
        <div class="dropdown-content" id="HelpMenu">
          <a id="GoToHelpPage" href="#">Show help page</a>
        </div>
      </div>
      <div class="dropdown">
        {% if isLoggedIn -%}
          <button class="dropbtn" onclick="showDropDown('GithubMenu')"><img style='height: 1em;' src="{{ url_for('static', filename='img/GitHub-Mark-32px.png') }}"/>{{userName}}</button>
          <div class="dropdown-content" id="GithubMenu"></div>
        {% else %}
          <a class="dropbtn" id="GithubLogin" href="/login"><img style='height: 1em;' src="{{ url_for('static', filename='img/GitHub-Mark-32px.png') }}"/>Login</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="dragContainer">
    <div class="dragOverlay">
      <div class="dragOverlayText">Drag your xml file here.</div>
    </div>
    <div class="friendContainer">
      <div class="notation"></div>
      <div class="resizer" id="dragMe"></div>
      <div class="encoding">
        <textarea id="editor">Hallo!</textarea>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="leftfoot">Werner Goebl, Nov. 2021</div>
    <div class="middlefoot">
      <div class="statusbar"></div>
      <div class="progressbar"></div>
    </div>
    <div class="rightfoot"></div>
  </div>

  <script>
    // show/hide menu items
    function showDropDown(target) {
      document.getElementById(target).classList.toggle("show");
    }

    window.onclick = function(ev) {
      // Close dropdown content except if in Github Menu 
      // (but DO close Github Menu if a file item is selected)
      if(!ev.target.closest("#GithubMenu") || ev.target.classList.contains("closeOnClick")) { 
        var menuList = document.querySelectorAll(".dropdown-content");
        menuList.forEach((item, i) => {
          let id = item.getAttribute('id');
          let evId = ';'
          let dropDownContent = ev.target.nextElementSibling;
          if (dropDownContent) evId = dropDownContent.getAttribute('id');
          if (item.classList.contains('show') && evId != id)
            item.classList.remove('show');
        });
      }
    }
  </script>
</body>

</html>
