<html>

<head>
  <meta charset="utf-8">
  <title>mei-friend</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}" />
  <link rel="stylesheet" id="orientationCSS" href="{{ url_for('static', filename='css/bottom.css') }}" />
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js" integrity="sha512-4DlmQ+aBOfYTZ3uzRKCDXdyL7y8IlopnVChhXG0pRFgyvhwONVQW3JX8e5DYoXUNr3evQpLZz7S3O1XxMH4WKA==" crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script> -->
  <!-- inject GitHub OAuth response details if available -->
  <script src="{{ url_for('static', filename='lib/jsgit.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/github.js') }}" type="module"></script>
  <script>
    let isLoggedIn;
    let root = "{{ url_for('static', filename='') }}";
  </script>
  {% if isLoggedIn %}
  <script>
    isLoggedIn = true;
    const githubToken = "{{ githubToken }}";
    const userLogin = "{{ userLogin }}";
    const userName = "{{ userName }}";
    const userEmail = "{{ userEmail }}";
  </script>
  {% endif %}
  <script src="{{ url_for('static', filename='CodeMirror/lib/codemirror.js') }}"></script>
  <link href="{{ url_for('static', filename='CodeMirror/lib/codemirror.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='CodeMirror/mode/xml/xml.js') }}"></script>
  <link href="{{ url_for('static', filename='CodeMirror/theme/dracula.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/closetag.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/closebrackets.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/matchtags.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/edit/trailingspace.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/fold/xml-fold.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/fold/foldcode.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/fold/foldgutter.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/search/search.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/search/searchcursor.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/search/jump-to-line.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/dialog/dialog.js') }}"></script>
  <link href="{{ url_for('static', filename='CodeMirror/addon/dialog/dialog.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='CodeMirror/addon/hint/show-hint.js') }}"></script>
  <script src="{{ url_for('static', filename='CodeMirror/addon/hint/xml-hint.js') }}"></script>
  <link href="{{ url_for('static', filename='CodeMirror/addon/hint/show-hint.css') }}" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.13.1/jshint.min.js" integrity="sha512-d54ZkbDqP0rlo/mmCO9nJ5tfpigsfTUPztnGEloitkJh5p2Bu4UsY8KMvAqUILBdTKGE7T6YMOuF0yXuNlpq/A==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>
  -->
  <script type="module" src="{{ url_for('static', filename='lib/main.js') }}"></script>
</head>

<body>
  <div class="header">
    <div class="title"><a href="https://repo.mdw.ac.at/mei-friend/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="mei-friend" /></a></div>
    <div class="navbar">
      <div class="dropdown">
        <button class="dropbtn GithubButton"><img id="GithubLogo" src="{{ url_for('static', filename='img/GitHub-Mark-32px.png') }}" /><span id="GithubName"><a href="login" id="GithubLoginLink">Login</a></span></button>
        <div class="dropdown-content loggedOut" id="GithubMenu"></div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">File</button>
        <div class="dropdown-content" id="FileMenu">
          <a id="OpenMei" href="#">Open file<span class="keyShortCut cmdKey">O</span></a>
          <a id="OpenUrl" href="#">Open URL</a>
          <a id="ImportMusicXml" href="#">Import MusicXML</a>
          <a id="ImportHumdrum" href="#">Import Humdrum</a>
          <a id="ImportPae" href="#">Import PAE, ABC</a>
          <hr class="dropdown-line">
          <a id="SaveMei" href="#">Save MEI<span class="keyShortCut cmdKey">S</span></a>
          <a id="SaveSvg" href="#">Save SVG</a>
          <a id="SaveMidi" href="#">Save MIDI</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">View</button>
        <div class="dropdown-content" id="ViewMenu">
          <a id="top" href="#">Notation top</a>
          <a id="bottom" href="#">Notation bottom</a>
          <a id="left" href="#">Notation left</a>
          <a id="right" href="#">Notation right</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Manipulate</button>
        <div class="dropdown-content" id="Manipulate">
          <a id="invertPlacement" href="#">Invert placement<span class="keyShortCut">X</span></a>
          <hr class="dropdown-line">
          <a id="delete" href="#">Delete element<span class="keyShortCut">⌫, DEL</span></a>
          <hr class="dropdown-line">
          <a id="pitchUp" href="#">Pitch 1 tone up<span class="keyShortCut shiftKey">&uarr;</span></a>
          <a id="pitchDown" href="#">Pitch 1 tone down<span class="keyShortCut shiftKey">&darr;</span></a>
          <a id="pitchOctaveUp" href="#">Pitch 1 octave up<span class="keyShortCut shiftKey cmdKey">&uarr;</span></a>
          <a id="pitchOctaveDown" href="#">Pitch 1 octave down<span class="keyShortCut shiftKey cmdKey">&darr;</span></a>
          <a id="staffUp" href="#">Element 1 staff up<span class="keyShortCut cmdKey">&uarr;</span></a>
          <a id="staffDown" href="#">Element 1 staff down<span class="keyShortCut cmdKey">&darr;</span></a>
          <hr class="dropdown-line">
          <a id="cleanAccid" href="#">Clean @accid.ges<span class="keyShortCut shiftKey cmdKey">C</span></a>
          <a id="renumTest" href="#">Renumber measures (test)<span class="keyShortCut shiftKey">R</span></a>
          <a id="renumExec" href="#">Renumber measures (exec)<span class="keyShortCut shiftKey cmdKey">R</span></a>
          <hr class="dropdown-line">
          <a id="reRenderMei" href="#">Re-render MEI (with ids)<span class="keyShortCut cmdKey">V</span></a>
          <a id="reRenderMeiWithout" href="#">Re-render MEI (remove ids)<span class="keyShortCut shiftKey cmdKey">V</span></a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Insert</button>
        <div class="dropdown-content" id="Insert">
          <a id="addTempo" href="#">Tempo<span class="keyShortCut shiftKey">T</span></a>
          <a id="addDirective" href="#">Directive<span class="keyShortCut">I</span></a>
          <a id="addDynamics" href="#">Dynamicts<span class="keyShortCut">D</span></a>
          <!-- <img src="{{ url_for('static', filename='svg/fermata.svg') }}" class="menu-icon" />Tempo -->
          <a id="addSlur" href="#">Slur<span class="keyShortCut">S</span></a>
          <a id="addTie" href="#">Tie<span class="keyShortCut">T</span></a>
          <a id="addCresHairpin" href="#">Cresc hairpin<span class="keyShortCut">H</span></a>
          <a id="addDimHairpin" href="#">Dim hairpin<span class="keyShortCut shiftKey">H</span></a>
          <a id="addBeam" href="#">Beam<span class="keyShortCut">B</span></a>
          <hr class="dropdown-line">
          <a id="addArpeggio" href="#">Arpeggio<span class="keyShortCut">A</span></a>
          <a id="addFermata" href="#">Fermata<span class="keyShortCut">F</span></a>
          <a id="addGlissando" href="#">Glissando<span class="keyShortCut">G</span></a>
          <a id="addPedalDown" href="#">Pedal down<span class="keyShortCut">P</span></a>
          <a id="addPedalUp" href="#">Pedal up<span class="keyShortCut shiftKey">P</span></a>
          <a id="addTrillAbove" href="#">Trill<span class="keyShortCut">L</span></a>
          <a id="addTurnAbove" href="#">Turn<span class="keyShortCut">N</span></a>
          <a id="addTurnAboveLower" href="#">Turn lower<span class="keyShortCut shiftKey">N</span></a>
          <a id="addMordentAbove" href="#">Mordent<span class="keyShortCut">M</span></a>
          <a id="addMordentAboveUpper" href="#">Mordent upper<span class="keyShortCut shiftKey">M</span></a>
          <a id="addOctave8Above" href="#">Octave (8va above)<span class="keyShortCut">O</span></a>
          <a id="addOctave15Above" href="#">Octave (15va above)<span class="keyShortCut shiftKey">O</span></a>
          <a id="addOctave8Below" href="#">Octave (8va below)<span class="keyShortCut cmd2Key">O</span></a>
          <a id="addOctave15Below" href="#">Octave (15va below)<span class="keyShortCut cmd2Key shiftKey">O</span></a>
          <hr class="dropdown-line">
          <a id="addGClefChangeBefore" href="#">G clef before<span class="keyShortCut shiftKey">G</span></a>
          <a id="addGClefChangeAfter" href="#">G clef after<span class="keyShortCut cmdKey shiftKey">G</span></a>
          <a id="addFClefChangeBefore" href="#">F clef before<span class="keyShortCut shiftKey">F</span></a>
          <a id="addFClefChangeAfter" href="#">F clef after<span class="keyShortCut cmdKey shiftKey">F</span></a>
          <a id="addCClefChangeBefore" href="#">C clef before<span class="keyShortCut shiftKey">C</span></a>
          <a id="addCClefChangeAfter" href="#">C clef after</a>
          <hr class="dropdown-line">
          <a id="toggleStacc" href="#">Staccato<span class="keyShortCut shiftKey">S</span></a>
          <a id="toggleAccent" href="#">Accent<span class="keyShortCut shiftKey">V</span></a>
          <a id="toggleTenuto" href="#">Tenuto<span class="keyShortCut shiftKey">N</span></a>
          <a id="toggleMarcato" href="#">Marcato<span class="keyShortCut shiftKey">O</span></a>
          <a id="toggleStacciss" href="#">Staccatissimo<span class="keyShortCut shiftKey">I</span></a>
          <a id="toggleSpicc" href="#">Spiccato<span class="keyShortCut shiftKey">P</span></a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Help</button>
        <div class="dropdown-content" id="HelpMenu">
          <a id="GoToHelpPage" href="help" target="_blank">Show
            help page</a>
          <a id="resetDefault" href="#">Reset to default</a>
        </div>
      </div>
    </div>
    <div class="fileStatus">
      <span id="fileLocation"></span>
      <span id="fileName"></span>
      <span id="fileChanged"></span>
      <span id="fileStorageExceeded"></span>
    </div>
  </div>

  <div class="dragContainer">
    <div class="dragOverlay">
      <div class="dragOverlayText">Drag your input file here.</div>
    </div>
    <div class="openUrlOverlay">
      <div class="openUrlUI">
        <div id="openUrlUIGrouping">
          <h3>Open Web-hosted encoding by URL</h3>
          <p id="openUrlInstructions">Please enter the URL of a Web-hosted music encoding, below. Note: Host server must support cross-origin resource sharing (CORS).</p>
          <div id="openUrlInputWrapper">
            <input id="openUrlInput" type="text" placeholder="http://..." />
            <button id="openUrlButton">Open URL</button>
            <button id="openUrlCancel">Cancel</button>
          </div>
          <span id="openUrlStatus"></span>
        </div>
      </div>
    </div>
    <div class="forkRepositoryOverlay">
      <div class="forkRepositoryUI">
        <div id="forkRepositoryUIGrouping">
          <h3>Fork Github Repository</h3>
          <p id="forkRepositoryInstructions">Please enter the Github (user or organization) name and the repository name of a Github-hosted repository, below. The repository will be forked to the currently logged in Github user, and become available
            from the Github menu.</p>
          <div id="forkRepositoryInputWrapper">
            <input id="forkRepositoryInputName" type="text" placeholder="Github user or organization" onkeydown="(e) => {
                    console.log('KEYDOWN: ', e);
                    if(e.code == 'Slash') {
                      e.preventDefault();
                      e.stopPropagation();
                      document.getElementById('forkRepositoryInputRepo').focus();
                    }
                  }" /> /
            <input id="forkRepositoryInputRepo" type="text" placeholder="Github repository name" />
            <label for="forkRepositoryToSelector">Fork to: </label>
            <select id="forkRepositoryToSelector" name="forkRepositoryToSelector"></select>
            <button id="forkRepositoryButton">Fork repository</button>
            <button id="forkRepositoryCancel">Cancel</button>
          </div>
          <span id="forkRepositoryStatus"></span>
        </div>
      </div>
    </div>
    <div class="friendContainer">
      <div class="notation"></div>
      <div class="resizer" id="dragMe"></div>
      <div class="encoding">
        <textarea id="editor"></textarea>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="leftfoot">&copy;
      <a href="https://iwk.mdw.ac.at/goebl/">Werner Goebl</a>,
      <a href="https://iwk.mdw.ac.at/david-weigl/">David M. Weigl</a>,
      <a href="https://iwk.mdw.ac.at/">IWK 2021&ndash;22</a>
    </div>
    <div class="middlefoot">
      <div class="statusbar"></div>
      <div class="progressbar"></div>
    </div>
    <div class="rightfoot"></div>
  </div>

  <div class="settingsPanel">
    <div class="tab">
      <button class="tabstart"><img src="{{ url_for('static', filename='svg/gear-16.svg') }}" /></button>
      <button class="tablink" onclick="switchTab(event, 'meiFriendSettings')" id="defaultOpen">mei-friend</button>
      <button class="tablink" onclick="switchTab(event, 'editorSettings')">Editor</button>
      <button class="tablink" onclick="switchTab(event, 'verovioSettings')">Verovio</button>
    </div>
    <!-- Tab content -->
    <div id="meiFriendSettings" class="tabcontent">
      <h3>Settings mei-friend</h3>
      <p>Supplied.</p>
    </div>
    <div id="editorSettings" class="tabcontent">
      <h3>Editor Settings</h3>
      <p>CodeMirror settings.</p>
    </div>
    <div id="verovioSettings" class="tabcontent">
      <h3>Verovio Settings</h3>
      <p>Here come the settings for Verovio.</p>
    </div>
  </div>

  <script>
    // menu bar behavior like MacOS menu bars
    let show = false;
    document.querySelector(".navbar").addEventListener("click", (ev) => {
      var menuList = document.querySelectorAll(".dropdown-content");
      menuList.forEach((e) => {
        if (show && (!ev.target.closest("#GithubMenu") || ev.target.classList.contains("closeOnClick"))) {
          e.classList.remove('show');
        } else {
          e.classList.add('show');
        }
      })
      if (!ev.target.closest("#GithubMenu") || ev.target.classList.contains("closeOnClick")) {
        // toggle "show" only if not in continuous-Github-menu behaviour
        show = !show;
      }
      // if user is logged out, force github menu to be hidden
      if (document.getElementById('GithubMenu').classList.contains("loggedOut")) {
        document.getElementById('GithubMenu').classList.remove("show");
      }
    });

    // switch tabs in settings menu
    function switchTab(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablink;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablink" and remove the class "active"
      tablink = document.getElementsByClassName("tablink");
      for (i = 0; i < tablink.length; i++) {
        tablink[i].className = tablink[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
  </script>
</body>

</html>
